IDI_ICON1 ICON DISCARDABLE "mu.ico"
IDI_ICON2 ICON DISCARDABLE "audio_file.ico"
#include <winver.h>
#include "../../sdk/knversion.h"

#define VER_FILEVERSION_STR         APP_VERSION_STR "\0"
#define VER_PRODUCTVERSION_STR      APP_VERSION_STR "\0"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION         MAJOR_VERSION,MINOR_VERSION,PATCH_VERSION,0
    PRODUCTVERSION      MAJOR_VERSION,MINOR_VERSION,PATCH_VERSION,0
    FILEFLAGSMASK       0x3fL
#ifdef _DEBUG
    FILEFLAGS           VS_FF_DEBUG
#else
    FILEFLAGS           0x0L
#endif
    FILEOS              VOS_NT_WINDOWS32
    FILETYPE            VFT_DLL
    FILESUBTYPE         0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "040904B0"
            BEGIN
                VALUE "CompanyName", "Kreogist Dev Team\0"
                VALUE "FileDescription", "Kreogist mu\0"
                VALUE "FileVersion", VER_FILEVERSION_STR
                VALUE "LegalCopyright", "(C) Kreogist Dev Team. All rights reserved.\0"
                VALUE "InternalName", "Nerve\0"
                VALUE "OriginalFilename", "mu.exe\0"
                VALUE "ProductName", "mu\0"
                VALUE "ProductVersion", VER_PRODUCTVERSION_STR
            END
            BLOCK "080404B0"
            BEGIN
                VALUE "CompanyName", "Kreogist Dev Team\0"
                VALUE "FileDescription", "Kreogist mu\0"
                VALUE "FileVersion", VER_FILEVERSION_STR
                VALUE "LegalCopyright", "(C) Kreogist Dev Team. 保留所有权利.\0"
                VALUE "InternalName", "Nerve\0"
                VALUE "OriginalFilename", "mu.exe\0"
                VALUE "ProductName", "mu\0"
                VALUE "ProductVersion", VER_PRODUCTVERSION_STR
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x0, 1200
        END
    END
