Source: kreogist-mu
Section: sound
Priority: optional
Maintainer: Tojo Saki <tomguts@126.com>
Build-Depends:
 debhelper (>= 9),
 libavcodec-dev,
 libavformat-dev,
 libavutil-dev,
 libswresample-dev,
 libgstreamer1.0-dev,
 qtbase5-dev,
 qttools5-dev-tools,
Standards-Version: 3.9.8
Homepage: https://kreogist.github.io/Mu/

Package: kreogist-mu
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-libav,
 gstreamer1.0-plugins-ugly,
Replaces: mu (<= 1.0.0-beta1)
Provides: mu
Description: Incredible music manager
 Kreogist Mu is a cross-platform incredible music manager/player based on Qt.
