Source: mu
Section: sound
Priority: optional
Maintainer: Tojo Saki <tomguts@126.com>
Build-Depends: debhelper (>= 9),
               qt5-default, libgstreamer1.0-dev,
               libavformat-dev,
               libavcodec-dev,
               libavutil-dev
Standards-Version: 3.9.5
Homepage: http://kreogist.github.io/Mu/

Package: mu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gstreamer1.0-plugins-bad,
            gstreamer1.0-plugins-ugly,
            gstreamer1.0-plugins-libav
Description: Incredible music manager.
 Kreogist Mu is a cross-platform incredible music manager/player based on Qt.
