<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kreogist Product Build</key>
	<string>20141213</string>
	<key>Kreogist Product Version</key>
	<string>0.4</string>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleExecutable</key>
	<string>mu</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>Free Lossless Audio Codec</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
                </dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>Advanced Audio Codec</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>Apple Lossless Audio Codec</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp1</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 1</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 3</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 4</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ape</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>Monkey&apos;s Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpc</string>
				<string>mpp</string>
				<string>mp+</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>Musepack</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
                </dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>Audio Interchange File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oga</string>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>Ogg Vorbis</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>Speex</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tta</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>True Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Wave</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>WavPack</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
                </dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cue</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>CUE Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
                </dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opus</string>
			</array>
			<key>CFBundleTypeIconFile</key>
                        <string>mu</string>
			<key>CFBundleTypeName</key>
			<string>IETF opus lossy file copressed file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>NSBinaryStoreType</string>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string>Kreogist μ</string>
	<key>CFBundleIconFile</key>
	<string>mu.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kreogist.mu</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>0.4.0 (20141213 2014/12/13:22:20:00)</string>
	<key>NOTE</key>
	<string>Kreogist μ</string>
	<key>CFBundleName</key>
	<string>μ</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4</string>
	<key>CFBundleSignature</key>
	<string>8BIM</string>
	<key>CFBundleVersion</key>
	<string>20141213</string>
	<key>CGDisableCoalescedUpdates</key>
	<true/>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<string>Yes</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Kreogist Dev Team</string>
	<key>UIDisallowUserKeyboardShortcuts</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
